# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Others
*.pdf
*~
._*
.disabled

#Vscode and MacOs
.vscode
*.dSYM
vgcore.*
.DS_Store
*.so
objs
